@model Identity.Api.ViewModels.LoginViewModel

<div class="row">

    <div class="col-sm-6">
        <div>
            <h2>Local Login</h2>

            @if (Model.LoginOutput != null && Model.LoginOutput.Succeeded == false)
            {
                <h3>The following errors were encountered</h3>
                foreach(var error in Model.LoginOutput.Errors)
                {
                    <p>@error.Category | @error.Code | @error.Description</p>
                }
            }

            <form asp-route="Login" method="post" class="form-signin mt-4">
                <input type="hidden" asp-for="ReturnUrl" />

                @if (Model.NewAccount)
                {
                    <div class="alert alert-success" role="alert">
                        Account created successfully!
                    </div>
                }

                <fieldset>
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                    </div>
                    @if (Model.AllowRememberLogin)
                    {
                        <div class="form-group checkbox">
                            <label asp-for="RememberLogin">
                                <input asp-for="RememberLogin">
                                <strong>Remember My Login</strong>
                            </label>
                        </div>
                    }
                    <div class="form-group">
                        <button class="btn btn-primary" name="button" value="login">Login</button>
                        <button class="btn btn-default" name="button" value="cancel">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>