@model string

<div class="row">

    <div class="col-sm-6">
        <div>
            Thank you for registering. An email was sent to <b>@Model</b>. Please check your email
            to finish registration.
        </div>
    </div>

</div>